<section class="home">
  <h2>Welcome to Photo App</h2>
  <div class="home-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita magni facere minus! Ad obcaecati error
    aliquid blanditiis aliquam ipsum quam, dolore quasi et repellat reprehenderit asperiores magnam quidem aperiam
    saepe? Pariatur, impedit nisi maxime labore autem quasi non veritatis dignissimos itaque at vitae quidem accusantium
    facere numquam laboriosam nihil doloremque eius voluptatem dolor in provident quia. Dolores, cum pariatur.
  </div>
</section>
